<div>
 <p>id: {{ brewery.id }}</p>
  <p>name: {{ brewery.name }}</p>
  <p>name: {{ brewery.brewery_type }}</p>
  <p>street: {{ brewery.street }}</p>
  <p>city: {{ brewery.city }}</p>
  <p>state: {{ brewery.state }}</p>
  <p>postal_code: {{ brewery.postal_code }}</p>
  <p>country: {{ brewery.country }}</p>
  <p>longitude: {{ brewery.longitude }}</p>
  <p>latitude: {{ brewery.latitude }}</p>
  <p>phone: {{ brewery.phone }}</p>
  <p>website_url: <a href="{{ brewery.website_url }}" target="_blank">{{ brewery.website_url }}</a></p>
  <p>updated_at: {{ brewery.updated_at }}</p>
  <p>tag_list: {{ brewery.tag_list }}</p>
</div>